export PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/opt/X11/bin:/usr/local/sbin:/Users/davidebuzzao/google-cloud-sdk/bin:/Users/davidebuzzao/edirect:/Users/davidebuzzao/blast-2.2.26/bin:/Users/davidebuzzao/MUSTANG_v3.2.3/bin:/Users/davidebuzzao/T-COFFEE_distribution_Version_12.00.7fb08c2/bin/binaries/macosx:/Users/davidebuzzao/Bioinformatica_Bologna/Second_semester/MP/phyutility:/usr/local/Cellar/raxml/8.2.12/bin:/Users/davidebuzzao/edirect:/Users/davidebuzzao/blast-2.2.26/bin:/Users/davidebuzzao/MUSTANG_v3.2.3/bin:/Users/davidebuzzao/T-COFFEE_distribution_Version_12.00.7fb08c2/bin/binaries/macosx:/Users/davidebuzzao/Bioinformatica_Bologna/Second_semester/MP/phyutility:/usr/local/Cellar/raxml/8.2.12/bin:/Users/davidebuzzao/Projects/svm/local/bin
